build/
build-mingw/
out/
.vs/
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
cmake-build-*/
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
x64/
Debug/
Release/
ipch/
.idea/
.vscode/
compile_commands.json
*.obj
*.pdb
*.ilk
*.exe
!bin/.gitkeep
