RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]

<FilesMatch "^(config\.local\.php|config\.sample\.php|bootstrap\.php|views\.php)$">
  Require all denied
</FilesMatch>
DirectoryIndex index.php
